.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.label {
  font-size: 16px;
  font-family: "nunito-b";
  margin-bottom: 5px;
}

.input-container {
  width: 100%;
  height: 130px;
  font-size: 16px;
  resize: none;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px gray solid;
  padding: 10px;
  outline: 0;
}

.character-count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  bottom: 20px;
  right: 10px;
  padding: 2px 10px;
  background-color: var(--error-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 50%;
  font-size: 13px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.timer-wrapper {
  width: 100%;
  margin-bottom: 35px;
}

.timer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mode {
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 8px;
  padding: 2px 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  font-size: 13px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.timer-container {
  display: flex;
  width: 100%;
  border: 1px gray solid;
  border-radius: 5px;
  overflow: hidden;
}

.timer-option {
  list-style: none;
  text-align: center;
  padding: 8px 10px;
  height: 40px;
  cursor: pointer;
  width: 100%;
  border-right: 1px gray solid;
}

.timer-option:first-of-type {
  border-left: none;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
}

.timer-option:last-of-type {
  border-right: none;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
}

.selected-option {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.edit-container input {
  width: 100%;
  height: 100%;
  padding: 12px 10px 8px;
  height: 40px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
}

.colon-separator {
  padding-bottom: 2px;
  font-size: 20px;
  font-family: "nunito-b";
}
