:root {
  --background-color: #28b536;
  --primary-color-darkest: #2f4a2f;
  --primary-color-darker: #294b0f;
  --primary-color-dark: #077109;
  --primary-color: #018b01;
  --primary-color-light: #01a501;
  --primary-color-lighter: #00c400;
  --white-color-darker: #d6e2d6;
  --white-color-dark: #ededed;
  --white-color: #f6f6f6;
  --black-color: #000000cc;
  --yellow-color: yellow;
  --error-color: #ff4141;
  --error-color-light: #ff4747;
}

@font-face {
  font-family: "nunito-r";
  src: url("./fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "nunito-b";
  src: url("./fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: "River";
  src: url("./fonts/River-Adventurer.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--black-color);
  font-family: "nunito-r";
  font-weight: 400;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div,
main {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Segoe UI, Helvetica, sans-serif;
  background-color: var(--background-color);
}

.loader-container {
  font-family: River;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.image-wrapper > span {
  z-index: -1;
}

.background-image {
  position: fixed;
  object-fit: cover;
  z-index: -1;
  left: 0;
  top: 0;
}

.dots:before {
  animation: dots 2s linear infinite;
  content: "";
}

@keyframes dots {
  0%,
  20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60% {
    content: "...";
  }
  90%,
  100% {
    content: "";
  }
}
