@font-face {
  font-family: nunito;
  src: url("./fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: "River";
  font-weight: 400;
  src: url("./fonts/River-Adventurer.ttf") format("truetype");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: nunito;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div,
main {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Segoe UI, Helvetica, sans-serif;
  background-color: #8bc242;
}

.loader-container {
  font-family: River;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.image-wrapper > span {
  z-index: -1;
}

.background-image {
  position: fixed;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  left: 0;
  top: 0;
}

.dots:before {
  animation: dots 2s linear infinite;
  content: "";
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto; 
}


@keyframes dots {
  0%,
  20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60% {
    content: "...";
  }
  90%,
  100% {
    content: "";
  }
}
