.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.game-title {
  font-size: 12vw;
  font-family: "River";
  color: var(--primary-color-lighter);
  -webkit-text-stroke: 1px var(--primary-color-dark);
}