.main-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  position: fixed;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
}

.countdown {
  font-size: 40px;
  margin-bottom: 5px;
  font-family: nunito-b;
  color: var(--white-color);
}

.red {
  color: var(--error-color);
}

.yellow {
  color: var(--yellow-color);
}

.displays-container {
  width: 90%;
  margin: 20px;
  border-radius: 10px;
}

.completion-bar-container {
  width: 100%;
  display: flex;
  border-radius: 5px;
  height: 6px;
  overflow: hidden;
  background-color: var(--white-color-dark);
  margin-bottom: 15px;
}

.bar {
  border-radius: 5px;
  background-color: var(--primary-color-light);
}

.output-wrapper {
  position: relative;
}

.output-display {
  width: 100%;
  min-height: 150px;
  font-size: 18px;
  position: relative;
  border-radius: 5px;
  padding: 15px 20px 40px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color-darker);
}

.fetch-quote {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  right: 10px;
  padding: 2px 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  font-size: 13px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.input-display {
  border: 0;
  outline: 0;
  width: 100%;
  resize: none;
  height: 150px;
  font-size: 20px;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color-darker);
}

.action-buttons {
  display: flex;
  margin-top: 20px;
}

.initial-color {
  color: var(--black-color);
}

.correct {
  color: var(--primary-color-light);
}

.incorrect {
  color: var(--error-color);
}

@media screen and (min-width: 768px) {
  .displays-container {
    width: 60%;
    padding: 20px;
    background: var(--primary-color-light);
    color: var(--white-color);
  }

  .countdown {
    font-size: 40px;
  }

  .completion-bar-container {
    background-color: var(--primary-color-darkest);
  }

  .bar {
    background-color: var(--primary-color-lighter);
  }

  .output-display {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--white-color);
    background-color: var(--black-color);
  }

  .input-display {
    background-color: var(--black-color);
    color: var(--white-color);
  }

  .initial-color {
    color: var(--white-color);
  }

  .correct {
    color: var(--primary-color-lighter);
  }

  .incorrect {
    color: var(--error-color);
  }
}
