.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 40px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
}

.action-buttons button:nth-of-type(1) {
  margin-bottom: 15px;
}

